{% extends 'layouts/account_form.html' %}

{% block title %}Смена пароля{% endblock title %}

{% block form_content %}
    {# Old password #}
    <p>
        <input type="password" name="old_password" autocomplete="current-password"
            autofocus placeholder="Старый пароль">
    </p>
    {% include 'includes/field_errors.html' with field=form.old_password %}

    {# New password #}
    <p>
        <input type="password" name="new_password1" autocomplete="new-password"
            aria-autocomplete="list" placeholder="Новый пароль">
    </p>
    {% include 'includes/field_errors.html' with field=form.new_password1 %}

    {# New password repeat #}
    <p>
        <input type="password" name="new_password2" autocomplete="new-password"
            placeholder="Подтверждение нового пароля">
    </p>
    {% include 'includes/field_errors.html' with field=form.new_password2 %}

    {# Button #}
    <input class='button_green' type="submit" value="Сохранить">
{% endblock form_content %}
