{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="block_white" style="font-size: 18px;">
            <form method="post" novalidate>
                {% csrf_token %}

                {% include 'includes/form_errors.html' %}

                <p>
                    <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" placeholder="Старый пароль">
                </p>

                <p>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" placeholder="Новый пароль">
                </p>

                <p>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Подтверждение нового пароля">
                </p>

                {% for field in form.visible_fields %}
                <!-- Field errors-->

                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <em>{{ error }}</em>
                </div>
                {% endfor %}
                {% endif %}

                {% endfor %}

                <input type="hidden" name="next" value='{{ next }}'>
                <input class='button_green' type="submit" value="Сохранить" style="font-size: 18px !important;">
            </form>
        </div>
    </div>
</div>
{% endblock content %}