# Test coverage
coverage~=6.4.4

# For converting refactoring recommendations to XML file
dicttoxml~=1.7.4

# Django
Django>=3.0,<4.0

# Logging
loguru~=0.6.0

# PostgreSQL
psycopg2>=2.8

# For environment variables
python-decouple~=3.6