{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Инструкция по использованию{% endblock title %}

{% block content %}
    <h1 class="title">Инструкция по использованию приложения</h1>

    {% with number=1 text="На главной странице выберите способ<br>загрузки кода, нажав на нужную кнопку" img_path='images/instruction/1.png' %}
        {% include 'layouts/instruction_block.html' %}
    {% endwith %}

    {% with number=2 text="Передайте код через файл или введите его вручную" img_path='images/instruction/2.png' %}
        {% include 'layouts/instruction_block.html' %}
    {% endwith %}

    {% with number=3 text="Нажмите кнопку «Отрефакторить»" img_path='images/instruction/3.png' %}
        {% include 'layouts/instruction_block.html' %}
    {% endwith %}

    {% with number=4 text="Если в вашем коде нет проблем,<br>вы увидите соответствующее сообщение" img_path='images/instruction/4.png' %}
        {% include 'layouts/instruction_block.html' %}
    {% endwith %}

    {% with number=5 text="Если в вашем коде есть проблемы,<br>приложение укажет на них" img_path='images/instruction/5.png' %}
        {% include 'layouts/instruction_block.html' %}
    {% endwith %}

    {% with number=6 text="Также вы можете скачать список проблем,<br>на которые указало приложение" img_path='images/instruction/6.png' %}
        {% include 'layouts/instruction_block.html' %}
    {% endwith %}
{% endblock content %}
