{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Рефакторинг кода{% endblock title %}

{% block content %}
    <div class="row">
        {# Code input #}
        <div class="col-md-8">
            <form id="refactoring_form" method="post" novalidate>
                {% csrf_token %}

                {% if errors %}
                    {{ errors }}
                {% endif %}

                <textarea maxlength="10000" name="code" cols="100" rows="20" id="source_code"
                    placeholder="Введите ваш код" autofocus></textarea>

                <div class="row block_with_button">
                    {# Paste code from file #}
                    <div class="col-md-6">
                        <input type="button" id='file_upload' class="button_blue" value="Вставить код из файла">
                        <input type="file" onchange="pasteCodeFromFileToTextarea(this)" required
                            id="file_upload_input" name="file_upload" accept=".py">
                    </div>

                    {# Refactoring #}
                    <div class="col-md-6">
                        <input type="submit" class="button_green" value="Отрефакторить">
                    </div>
                </div>
            </form>
        </div>

        {# Recommendations #}
        <div class="col-md-4">
            <div style="text-align: left;">
                <span class="text_middle">Рекомендации</span>

                {# Saving #}
                <a id="save_recommendations_link">Сохранить</a>
            </div>

            <form method="post" id="save_recommendations_form">
                {% csrf_token %}

                <input type="hidden" name="recommendation" value="{{ results }}">
                <input type="hidden" name="code" value="{{ code }}">
            </form>

            <div id="recommendations"></div>

            {# Recommendations in files #}
            <div class="row" id="recommendations_in_files">
                {# PDF #}
                <div class="col-md-4">
                    <form action="{% url 'refactoring:download_pdf' %}" method="post">
                        {% csrf_token %}

                        <input type="hidden" name="results" value="{{ results }}">
                        <input type="image" src="{% static 'images/download_types/pdf.png' %}" alt="PDF" width="100px" title="Скачать в PDF">
                    </form>
                </div>

                {# JSON #}
                <div class="col-md-4">
                    <form action="{% url 'refactoring:download_json' %}" method="post">
                        {% csrf_token %}

                        <input type="hidden" name="results" value="{{ results }}">
                        <input type="image" src="{% static 'images/download_types/json.png' %}" alt="JSON" width="100px" title="Скачать в JSON">
                    </form>
                </div>

                {# XML #}
                <div class="col-md-4">
                    <form action="{% url 'refactoring:download_xml' %}" method="post">
                        {% csrf_token %}

                        <input type="hidden" name="results" value="{{ results }}">
                        <input type="image" src="{% static 'images/download_types/xml.png' %}" alt="XML" width="100px" title="Скачать в XML">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#save_recommendations_link').hide();
        $('#recommendations_in_files').hide();

        $('#refactoring_form').on('submit', function () {
            $.ajax({
                data: $(this).serialize(),
                url: "{% url 'refactoring:code_refactoring' %}",
                success: function (response) {
                    updateRecommendationsBlock(response);
                    updateResultsForFileDownload(response);
                    updateSaveRecommendationFormData(response)

                    $('#save_recommendations_link').show();
                    $('#recommendations_in_files').show();
                },
            });

            return false;
        });

        $('#save_recommendations_form').on('submit', function () {
            $.ajax({
                data: $(this).serialize(),
                url: "{% url 'refactoring:save_recommendation' %}",
                success: function (response) {
                    saveRecommendation(response);
                }
            });

            return false;
        });
    </script>
{% endblock content %}
