{% extends 'layouts/base.html' %}

{% block title %}Рефакторинг вашего файла{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-3 block_white">
        <form action="{% url 'refactoring:file_refactoring' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h1 class="title">Выберите Python-файл</h1>

            {% include 'includes/form_errors.html' %}

            <input type="file" required id="file_upload_input" name="file_upload" accept=".py">

            <span id='file_upload'>
                Выбранный файл: </span><span id='uploaded_file'>
            </span>

            {% include 'includes/field_errors.html' with field=form.file_upload %}

            <div class="block_with_button">
                <input class='button_green' type="submit" value="Отрефакторить">
            </div>
        </form>
    </div>
</div>
{% endblock content %}