{% extends 'layouts/base.html' %}

{% block title %}Главная{% endblock title %}

{% block content %}
    <div class="base_container container" style="text-align: center;">
        <div class="col-md-10 offset-md-1 block_white">
            <div>
                <strong class="text_blue title_big">REFACK</strong>
                <br>
                <strong>приложение для рефакторинга Python-кода</strong>
            </div>
                <p class="title_small">Делает код на Python чище, читабильнее и лучше</p>
        </div>

        <div class="block_simple">
            <h2 class="title2">Начните прямо сейчас</h2>
            <div class="row">
                {# Button left #}
                <div class="col-md-5">
                    <input type="button" class="button button_green main_input" value="Передать код в файле">
                </div>

                {# Button right #}
                <div class=" offset-md-2 col-md-5">
                    <a href="{% url 'refactoring:manual_input' %}">
                        <input type="button" class="button button_blue main_input" value="Ввести код вручную">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
