{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Инструкция{% endblock title %}

{% block content %}
    <h1 style="text-align: center; font-weight: 700;">Инструкция по использованию приложения</h1>

    <div class="block_white block_instruction">
        <h2 class="text_middle">1. На главной странице выберите способ<br>загрузки кода, нажав на нужную кнопку.</h2>
        <img src="{% static 'images/instruction/1.png' %}" alt="1 этап">
    </div>

    <div class="block_white">
        <h2 class="text_middle">2. Передайте код через файл или введите его вручную.</h2>
        <img src="{% static 'images/instruction/2.png' %}" alt="2 этап" width="992px">
    </div>

    <div class="block_white">
        <h2 class="text_middle">3. Нажмите кнопку «Отрефакторить».</h2>
        <img src="{% static 'images/instruction/3.png' %}" alt="3 этап" width="992px">
    </div>

    <div class="block_white">
        <h2 class="text_middle">4. Если в вашем коде нет проблем,<br>вы увидите соответствующее сообщение.</h2>
        <img src="{% static 'images/instruction/4.png' %}" alt="4 этап" width="992px">
    </div>

    <div class="block_white">
        <h2 class="text_middle">5. Если в вашем коде есть проблемы,<br>приложение укажет на них.</h2>
        <img src="{% static 'images/instruction/5.png' %}" alt="5 этап" width="992px">
    </div>

    <div class="block_white" style="margin-bottom: 25px;">
        <h2 class="text_middle">6. Также вы можете скачать список проблем,<br>на которые указало приложение.</h2>
        <img src="{% static 'images/instruction/6.png' %}" alt="6 этап" width="992px">
    </div>
{% endblock content %}
