{% extends 'layouts/base.html' %}

{% block title %}Инструкция{% endblock title %}

{% block content %}
    <h2 style="text-align: center;">Инструкция по использованию приложения</h2>

    <div style="background-color: #D1D0D9; color: #373740; width: 100%; height: 400px; padding: 20px;">
        1) Выберите как вы хотите загрузить код - вручную или файлом
        <br>
        2) Дождитесь выполнения рефакторинга кода
        <br>
        3) После завершения рефакторинга вы можете посмотреть рузультаты в специальном окне
        <br>
        4) Также есть возможность скачать результаты в трех форматах: PDF, JSON и XML
    </div>
{% endblock content %}
