{% extends 'layouts/base.html' %}

{% block title %}Рефакторинг кода{% endblock title %}

{% block content %}
    <div class="row">
        {# Code input form #}
        <div class="col-md-8">
            <form id="refactoring_form" method="post" novalidate>
                {% csrf_token %}

                {% if errors %}
                    {{ errors }}
                {% endif %}

                <textarea maxlength="10000" name="code" cols="100" rows="20"
                    placeholder="Введите ваш код" autofocus></textarea>

                <div class="block_with_button">
                    <input type="submit" class="button_green" value="Отрефакторить">
                </div>
            </form>
        </div>

        {# Recommendations #}
        <div class="col-md-4">
            <h4>Рекомендации</h4>
            <div id="recommendations"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#refactoring_form').on('submit', function () {
                $.ajax({
                    data: $(this).serialize(),
                    url: "{% url 'refactoring:code_refactoring' %}",
                    success: function (response) {
                        updateRecommendationsBlock(response);
                    },
                });

                return false;
            });
        });
    </script>
{% endblock content %}
