{% extends 'layouts/base.html' %}

{% block title %}Рефакторинг кода{% endblock title %}


{% block content %}
    <form action="{% url 'refactoring:refactor' %}" method="post" novalidate>
        {% csrf_token %}

        {% if errors %}
            {{ errors }}
        {% endif %}

        <div>
            <textarea maxlength="10000" style="resize: none; padding: 25px; border-radius: 4px; outline: none;" name="code" cols="100" rows="20" class="code_field" placeholder="Введите Python-код" autofocus></textarea>
        </div>

        <div style="text-align: center; margin-top: 15px;">
            <input type="submit" class="button button_green main_input" value="Отрефакторить">
        </div>
    </form>
{% endblock content %}