{% extends 'layouts/base.html' %}

{% block title %}Используемые правила рефакторинга{% endblock title %}

{% block content %}
    <h1 class="title">Используемые правила рефакторинга</h1>

    <div class="block_white left_align">
        <ol>
            <li class="refactoring_rule">Названия функций и методов, возвращающих булевое значение, должны начинаться с префикса is.</li>
            <li class="refactoring_rule">Названия функций и методов, возвращающих любое другое значение, должны начинаться с префикса get.</li>
            <li class="refactoring_rule">Все функции и методы должны иметь стиль именования snake_case.</li>
            <li class="refactoring_rule">Все классы должны иметь стиль именования CapWords.</li>
            <li class="refactoring_rule">У каждой функции и класса должна быть документация.</li>
            <li class="refactoring_rule">У каждой функции должна быть указана подсказка возвращаемого типа.</li>
            <li class="refactoring_rule">У каждого аргумента функции должна быть указана подсказка типа.</li>
        </ol>
    </div>
{% endblock content %}
