{% extends 'layouts/base.html' %}

{% block title %}Используемые правила{% endblock title %}

{% block content %}
    <h2 style="text-align: center;">Используемые правила рефакторинга</h2>

    <div style="background-color: #D1D0D9; color: #373740; width: 100%; height: 400px; padding: 20px;">
        1) Названия функций и методов, возвращающих булевое значение, должны начинаться с префикса is_
        <br>
        2) Названия всех других функций и методов, возвращающих значение, должны начинаться на префикс get_
        <br>
        3) Названия функций и методов должны следовать стилю именования SnakeCase
        <br>
        4) Названия классов должны следовать стилю именования CamelCase
        <br>
        5) Названия переменных и полей должны следовать единому стилю именования
    </div>
{% endblock content %}
