{% extends 'layouts/base.html' %}

{% block title %}Сохраненные рекомендации пользователя {{ user }}{% endblock title %}

{% block content %}
    {% if recommendations %}
        <h1 class="title">Ваши рекомендации</h1>

        {% for rec in recommendations %}
            <div class="block_white saved_recommendation">
                {% autoescape off %}
                    <h6>{{ rec.code }}</h6>

                    <hr>

                    <h5>{{ rec.recommendation }}</h5>
                {% endautoescape %}
            </div>
        {% endfor %}
    {% else %}
        <h1 class="title">У вас нет сохраненных рекомендаций</h1>
    {% endif %}
{% endblock content %}
