{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Рекомендации пользователя {{ user }}{% endblock title %}

{% block content %}
    {% if recommendations %}
        <h1 class="saved_recommendations_title">Ваши рекомендации</h1>

        {% for recommendation in recommendations %}
            <div class="block_white saved_recommendations_block">
                {% autoescape off %}

                <h6>{{ recommendation.code }}</h6>

                <hr>

                <h5>{{ recommendation.recommendation }}</h5>
                {% endautoescape %}
            </div>
        {% endfor %}
    {% else %}
        <h1 class="saved_recommendations_title">Вы еще не сохраняли рекомендации</h1>
    {% endif %}
{% endblock content %}
