body{
    background-color: #373740 !important;
    color: #FFF !important;
}

h1::selection{
    background-color: #D1D0D9;
}

a::selection{
    background-color: #373740;
    color: #FFF;
}

.main_input{
    height: 100px;
    width: 100%;
    font-size: 24px !important;
}

.main_title{
    text-align: center;
    margin-bottom: 30px;
}

.as{
    color: #D1D0D9;
    background-color: #686673;
}

a{
    color: #373740 !important;
}