{% extends "layouts/account_form.html" %}

{% block title %}Отправка сообщения для сброса пароля{% endblock title %}

{% block before_form %}
    <h4 class="title">Укажите вашу почту и мы вышлем сообщение для сброса пароля.</h4>
{% endblock before_form %}

{% block form_content %}
    {# Email #}
    <p><input type="email" name="email" autocomplete="email" placeholder="Ваша почта"></p>
    {% include "includes/field_errors.html" with field=form.email %}

    {# Button #}
    <input class="button_green" type="submit" value="Отправить">
{% endblock form_content %}