{% extends 'layouts/base.html' %}

{% block title %}Сброс пароля{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="block_white">
            <form method="post">
                {% csrf_token %}

                {% include 'includes/form_errors.html' %}

                {% for field in form.visible_fields %}
                    <p>
                        {{ field.label_tag }}
                        <br>
                        {{ field }}
                    </p>

                    {% include 'includes/field_errors.html' %}
                {% endfor %}

                <input type="hidden" name="next" value='{{ next }}'>

                <input class='button_green' type="submit" value="Сбросить">
            </form>
        </div>
    </div>
</div>
{% endblock content %}