{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Отправка сообщения для сброса пароля{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-3">
        <div class="block_white" style="font-size: 18px;">
            <div style="font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;">
            Укажите вашу почту и мы вышлем сообщение для сброса пароля.
            </div>
            <form method="post" novalidate>
                {% csrf_token %}

                <!-- Generic errors -->
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li><em>{{ error }}</em></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <p>
                    <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Почта">
                </p>

                {% for field in form.visible_fields %}
                <!-- Field errors-->

                {% if field.errors %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <em>{{ error }}</em>
                </div>
                {% endfor %}
                {% endif %}

                {% endfor %}

                <input type="hidden" name="next" value='{{ next }}'>
                <input class='button_green' type="submit" value="Отправить" style="font-size: 18px !important;">
            </form>
        </div>
    </div>
</div>
{% endblock content %}